<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true">
  <Appenders>
    <Console name="STDERR" target="SYSTEM_ERR">
      <PatternLayout pattern="%d{ISO8601} %-5p (%-4t) %25c{1}: %-100m (%F:%L)%n" />
    </Console>
    <File name="INFO_FILE" fileName="sette-info.log" append="false">
      <PatternLayout pattern="%d{ISO8601} %-5p (%-4t) %25c{1}: %-100m (%F:%L)%n" />
    </File>
    <File name="DEBUG_FILE" fileName="sette-debug.log" append="false">
      <PatternLayout pattern="%d{ISO8601} %-5p (%-4t) %25c{1}: %-100m (%F:%L)%n" />
    </File>
    <File name="TRACE_FILE" fileName="sette-trace.log" append="false">
      <PatternLayout pattern="%d{ISO8601} %-5p (%-4t) %25c{1}: %-100m (%F:%L)%n" />
    </File>
  </Appenders>
  <Loggers>
    <Root level="all">
      <AppenderRef ref="STDERR" level="info" />
      <AppenderRef ref="INFO_FILE" level="info" />
      <AppenderRef ref="DEBUG_FILE" level="debug" />
      <AppenderRef ref="TRACE_FILE" />
    </Root>
  </Loggers>
</Configuration>
